@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; 
}

body {
  font-family: 'cairo', sans-serif;
  background-color: #fcf3e6; /* (neutral) */
  color: #2D3748;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}